
VITE_APP_NAME="cmore"
VITE_API_SERVER_URI="http://127.0.0.1:8000"
VITE_SERVER_URL_AUD="http://127.0.0.1:5173"

VITE_CHATGPT_API_KEY=""

VITE_AES_METHOD="aes-256-cbc"
VITE_AES_KEY="" # 32 character value
VITE_AES_IV="" # 16 character value
